.about {
	padding: 15px;
	color: #33363b;
    background-color: #eaeaea !important;
	height: 100%;
}

.about-header {
    padding: 26px;
    background-color: #33363b;
    color: #eaeaea;
}

.about img {
	width: 265px;
	height:200px;
}

.about img {
    border: solid #368cbf;
    border-radius: 50%;
	width: 265px;
	height: 200px;
}