.player-header {
    padding: 26px;
    background-color: #33363b;
    color: #eaeaea;
}

.player {
    padding: 20px;
    background-color: #eaeaea !important;
    height: 100%;
}

.title {
    padding: 20px;
    color: #33363b;
}

.button {
    margin: 10px;
}