@import url(https://fonts.googleapis.com/css?family=Work+Sans);

@keyframes fade {
  0% {opacity: 0%;}
  100% {opacity: 100%}
}

.App {
  text-align: center;
  background-color: #33363b;
  overflow: hidden;
  font-family: 'Work Sans', 'serif';
  animation-name: fade;
  animation-duration: 2s;
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.main {
  background-color: #33363b;
  color: #33363b;
  height: 100vh;
}

.pr-0 {
  padding-right: 0px;
}

.test-main {
  background-color: #eaeaea;
}

.about {
	padding: 15px;
	color: #33363b;
  background-color: #eaeaea !important;
	height: 100%;
}

.about-header {
  padding: 26px;
  background-color: #33363b;
  color: #eaeaea;
}

.about img {
  border: solid #368cbf;
  border-radius: 50%;
	width: 265px;
  height: 200px;
  margin: 30px;
}

.about-desc {
  margin: 30px;
  font-size: 20px;
}

.music-lounge {
  background-color: #33363b;
}

.volBar {
  padding: 0;
  margin: 0;
  width: 50px;
  background: transparent;
}

.musicroom-header {
  padding: 30px;
  background-color: #33363b;
  color: #eaeaea;
  font-weight: bold;
  border-bottom: 1px solid #eaeaea;
}

.playlist-header {
  border-bottom: solid 1px #eaeaea;
  padding: 26px;
}

.playlist {
  background-color: #33363b;
  text-align: left;
  height: 100vh;
  
  /* border-left: 1px solid #eaeaea */
  color: #eaeaea;
}

.songs {
  overflow-y: auto;
  height: 91%;
}

.song-list {
  list-style: none;
  padding: 0px;
}

.song {
  padding: 20px;
  border-top: solid 1px #eaeaea;
  border-bottom: solid 1px #eaeaea;
}

.song {
  padding: 20px;
  border-top: solid 1px #eaeaea;
  border-bottom: solid 1px #eaeaea;
}

.song:hover {
  background-color: #368cbf;
}

.active {
  background-color: #368cbf;
}

.music-controls .button {
  margin: 10px;
  background-color: #368cbf;
  color: #eaeaea;
  border-color: transparent;
}

.music-controls .button:hover {
  margin: 10px;
  background-color: #368cbf;
  color: #eaeaea;
  border-color: transparent;
}

.album {
  border-bottom: 1px solid #33363b;
  width: 100%;
  /* border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    /* width: 80px; */
    -webkit-appearance: none;
    /* background-color: #33363b; */
    margin: 10px;
    border-radius: 10px;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    /* -webkit-appearance: none; */
    color: #7ebc59;
    border-radius: 10px;
    /* margin-top: -1px; */
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: #368cbf;
    box-shadow: -80px 0 0 80px #368cbf;
  }
}

.playlist .fa-margin {
  margin-right: 8px;
  color: #7ebc59
}

.time {
  font-weight: bold;
}

@media (min-width: 769px) {
  .sidebar {
    height: 100vh;
    margin: 0px;
    background-color: #33363b;
    color: #eaeaea;
    z-index: 1;
  }

  .sidebar ul {
    list-style: none;
    text-align: left;
    margin: 0px;
    padding: 0px;
  }

  .sidebar__Link--active li {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    background-color: #368cbf;
  }

  .tab:hover {
    /* border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea; */
    background-color: #368cbf ;
  }

  .anchor {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 40px;
  }

  .header {
    padding: 26px;
    background-color: #33363b;
    color: #eaeaea;
  }
}

@media (max-width: 768px) {
  .sidebar {
    margin: 0px;
    background-color: #33363b;
    color: #eaeaea;
    z-index: 1;
  }

  .sidebar .icon {
    display: none;
  }

  .sidebar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: left;
    margin: 0px;
    padding: 0px;
  }

  .sidebar__Link--active li {
    color: #368cbf;
  }

  .anchor {
    display: none;
  }

  .header {
    display: none;
  }
}

.tab {
  padding: 10px;
  font-size: 20px;
}

.sidebar a {
  text-decoration: none;
  color: #eaeaea;
}

.sidebar a:hover {
  text-decoration: none;
  color: #eaeaea;
}

.controls-container {
  height: 100%;
  /* position: relative; */
}

.controls {
  padding: 30px;
  bottom: 0;
  width: 100%;
  /* padding-bottom: 40px; */
  background-color: #33363b;
  color: #eaeaea;
  /* position: relative; */
  /* top: 50%; */
  /* transform: translate(0%, 25%); */
}

.projects-body {
  text-align: left;
  /* padding: 10px; */
  height: 91%;
  overflow: auto;
}

.db-project {
  padding: 15px !important;
}

.project {
  padding: 15px !important;
  min-height: 20vh;
}

.project:nth-child(odd) {
  background-color: white;
}

.project-name {
  font-size: 26px;
  border-bottom: 2px solid #7ebc59;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.project-description {
  font-size: 26px;
  text-align: left;
  /* position: absolute; */
  /* top: 50%;
  transform: translate(0%, -50%);
  min-height: 20vh; */
}

.db-project-content {
  
}

.project-content {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.skills-body {
  overflow: auto;
  height: 91%;
}

.skill {
  padding: 15px !important;
  height: 20vh;
}

.skill:nth-child(odd) {
  background-color: white;
}

.category {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.devicons-list {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,  -50%);
}

.skills-list {
  text-align: left;
  font-size: 26px;
  position: absolute;
  top: 50%;
  transform: translate(0,  -50%);
}

.react-pdf__Page__canvas {
  /* border: 1px solid black; */
  display: inline !important;
}

.resume {
  padding: 15px;
  background-color: #eaeaea !important;
  height: 100%;
}

.resume-header {
  padding: 26px;
  background-color: #33363b;
  color: #eaeaea;
}

.download {
  margin-top: 15px;
  margin-bottom: 15px;
}

.download a {
  color: #368cbf;
  text-decoration: none;
  font-size: 20px;
}

.download a:hover {
  color: #7ebc59;
  text-decoration: none;
}

.resume-container {
  text-align: center;
}

.resume-body {
  background-color: rgba(255, 255, 255, 0.863);
  height: 90vh;
  width: 77%;
  display: inline-block;
  overflow: auto !important;
}

.module {
  padding: 15px;
  background-color: #eaeaea !important;
  height: 100%;
}

.module-header {
  padding: 26px;
  background-color: #33363b;
  color: #eaeaea;
}