.App {
  text-align: center;
  overflow: hidden;
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.main {
  background-color: #273e52;
  color: white;
  height: 100vh;
}