.playlist-header {
    border-bottom: solid 1px white;
    padding: 26px;
}

.playlist {
    background-color: #33363b;
    text-align: left;
    height: 100vh;
    overflow-y: auto;
    border-left: 1px solid #eaeaea;
    color: #eaeaea;
}

.song {
    padding: 20px;
    border-top: solid 1px #eaeaea;
    border-bottom: solid 1px #eaeaea;
}

.song:hover {
    background-color: #368cbf;
}

.song {
    padding: 20px;
    border-top: solid 1px #eaeaea;
    border-bottom: solid 1px #eaeaea;
}

.active {
    background-color: #368cbf;
}